body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

header {
	background-color: #009e49;
	color: white;
}

.title {
	padding: 10px;
}

h1 {
	font-family: "Book Antiqua", "Times New Roman";
	font-size: 2em;
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: normal;
}

h2 {
	font-family: "Book Antiqua", "Times New Roman";
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: normal;
}

h3 {
	font-family: "Book Antiqua", "Times New Roman";
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: normal;
}

.flagStripes {
	height: 3px;
	width: 100%;
	background-color: #000000;
	border-top: 3px solid #ef3340;
	border-bottom: 3px solid #fcad56;
}

#menuHeader {
	background-color: #000000;
	color: #ffffff;
	padding: 5px;
}

.toggle {
	display: none;
}

.activate {
	display: block;
}

#mainMenu a {
	display: block;
	width: 100%;
	background-color: black;
	color: white;
	padding: 2px 2px 2px 20px;
	border-top: 1px solid #fcad56;
	text-decoration: none;
}

#mainMenu a:last-of-type {
	border-bottom: 1px solid #fcad56;
}

#mainMenu a:hover {
	background-color: #ef3340;
	color: black;
	text-decoration: underline;
	transition: 0.25s;
}

nav a:active {
	font-style: italic;
	font-weight: bold;
}

main {
	margin: 10px;
	text-align: justify;
}

main h2 {
	font-size: 1.5em;
	margin: 0 0 10px 0;
}

footer {
	background-color: #009e49;
	text-align: center;
	font-family: "Book Antiqua", "Times New Roman";
	color: white;
	font-size: 0.8em;
	padding: 5px;
}

#contactInfo {
	display: flex;
	padding: 5px 0 5px 0;
}

.contactBlock {
	flex: 1;
}

.divider {
	width: 1px;
	background-color: #000000;
}

a.footerLink {
	color: white;
	text-decoration: none;
}

a.footerLink:hover {
	color: white;
	text-decoration: underline;
}

a.footerLink:active {
	color: #fcad56;
	text-decoration: underline;
}

.footerText {
	display: block;
}